@{
    ViewData["Title"] = "Home Page";
}

@section head {
<style>
html, body {
  height: 100%;
}
</style>
}

<div id="app">
  Loading...
</div>

@section scripts {
    <script src="~/dist/app.js" asp-append-version="true"></script> 
    <script src="~/dist/vendor.js" asp-append-version="true"></script> 
}
